<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@andresouzaabreu/vue-data-table@3.3.3/dist/DataTable.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script> 
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="css/main2.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@andresouzaabreu/vue-data-table@3.3.3/dist/DataTable.umd.min.js"></script>
    <script src="https://kit.fontawesome.com/4904252b2c.js" crossorigin="anonymous"></script>

</head>

<body class="bg-gray-dark">
    <div id="app" class="">
        <div class="container">
            <div class="jumbotron bg-gray-dark justify-content-center text-lg">
                <!-- Content -->
                <article class="content">
                    <!-- Error -->
                    <div class="form-group row" >
                        <div class="col-12">
                            <div role="alert" class="alert alert-danger alert-dismissible" v-if="error">
                                <span class="alert-inner--icon">
                                    <i class="ni ni-support-16"></i>
                                </span>
                                <span class="alert-inner--text">
                                    <span>{{ error }}</span>
                                </span>
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button>
                            </div>
                            <div role="alert" class="alert alert-success alert-dismissible" v-if="noHayNada">
                                <span class="alert-inner--icon">
                                    <i class="ni ni-like-2"></i>
                                </span>
                                <span class="alert-inner--text">
                                    <span>Espero tus ordenes</span>
                                </span>
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button>
                            </div>
                        </div>
                    </div>
                    <!-- Search -->
                    <form class="row" v-on:submit.prevent="doSearch()">
                        <div class="col-12">
                            <h2 class="h2 font-weight-bold text-neutral">Meteorologia</h2>
                            <div class="form-group input-group text-dark">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ni ni-bag-17"></i>
                                    </span>
                                </div>
                                <select class="form-control text-dark" :required="true" id="pais" 
                                        title="pais" @change="cambiaPais" aria-describedby="addon-right addon-left">
                                    <option :selected="true" value="-1">Seleccione un pais</option>
                                    <option v-for="ele in countries" :value="ele[0]">{{ ele[1].name }}</option>
                                </select>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ni ni-zoom-split-in"></i>
                                    </span>
                                </div>
                                <input v-model="localidad" type="text" aria-describedby="addon-right addon-left"
                                    placeholder="Introduce el nombre de la localidad..." class="text-dark form-control">
                                <div class="input-group-append">
                                    <input type="submit" class="btn btn-danger" type="button" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Result -->
                    <div class="form-group row">
                        <div class="col-12" v-if="pronostico">
                            <div class="card-body py-5 bg-white">
                                <div class="icon icon-shape mb-4 icon-shape-primary rounded-circle">
                                    <i class="ni ni-check-bold"></i>
                                </div>
                                <h6 class="text-primary text-uppercase">{{ pronostico.name }}</h6>
                                <p class="text-dark font-weight-400 description mt-3">Latitud: {{ pronostico.coord.lat }} Longitud: {{pronostico.coord.lon }}</p>
                                <p class="text-dark font-weight-400 description mt-3">Temperatura: {{ pronostico.main.temp }} Min-Max: {{ pronostico.main.temp_min }} - {{ pronostico.main.temp_max }}</p>                                    
                                <p class="text-dark font-weight-400 description mt-3">Humedad: {{ pronostico.main.humidity }} %</p>
                                <p class="text-dark font-weight-400 description mt-3">Viento n/h: {{ pronostico.wind.speed }}</p>                                    
                                <p class="text-dark font-weight-400 description mt-3">Pronóstico: {{ pronostico.weather[0].description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-12" v-if="hayPronosticos"> 
                            <!-- DataTales Example -->
                                <!-- <div>
                                    <data-table :="parametrosTabla" @actionTriggered="handleAction" />
                                </div> -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="">
                                        <legend class="m-0 font-weight-bold text-primary">Pronóstico próximas horas: {{ detalleCiudad.name }}, {{detalleCiudad.country}}</legend>
                                    </div>

                                    <div class="">
                                        <h5 class="m-0 font-weight-bold text-primary">Población: {{ detalleCiudad.population }}</h5>
                                    </div>
                                    <div>
                                        <h5 class="m-0 font-weight-bold ">Registros: {{ listaPronostico.size }}</h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th v-for="ele in headers">{{ ele }}</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr v-for="ele in resultListaPronostico">
                                                <td>{{ ele.dt_txt }}</td>
                                                <td>{{ ele.main.temp }}</td>
                                                <td>{{ ele.main.temp_min }} - {{ ele.main.temp_max }}</td>
                                                <td>{{ ele.main.humidity }}</td>
                                                <td>{{ ele.weather[0].description }}</td>
                                                <td class=""><center><i :class="obtieneIcono(ele.weather[0].icon)"></i></center></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <script src="js/mainPronostico.js"></script>
    <script>
        const mountedApp = app.mount("#app");
        
    </script>
</body>

</html>