<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/main2.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app" class="">
        <div class="container container-fluid">
            <div class="jumbotron bg-gradient-blue text-lg">
                <!-- Content -->
                <article class="content">
                    <!-- Search -->
                    <form class="" v-on:submit.prevent="doSearch()">
                        <div class="col-12">
                            <h2 class="h2 text-neutral">Meteorologia</h2>
                            <!-- <div class="form-group row">
                                <div class="col-12"> -->
                                    <!-- <label for="listaPaises">País:</label> -->
                                    <!-- <select class="form-control" :required="true" id="pais" title="pais"
                                        @click="cambiaPais">
                                        <option :selected="true" value="-1">Seleccione un pais</option>
                                        <option v-for="ele in countries" :value="ele[0]">{{ ele[1].name }}</option>
                                    </select>
                                </div>
                            </div> -->
                            <!-- <div class="form-group row">
                                <div class="col-12">
                                    <label for="localidad">Localidad:</label>
                                    <div class="input-group">
                                        <input v-model="localidad" type="text"
                                            class="form-control bg-light border-0 small"
                                            placeholder="Introduce el nombre de la localidad..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        </input>
                                        <div class="input-group-append">
                                            <input type="submit" class="btn btn-danger" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                            </input>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ni ni-bag-17"></i>
                                    </span>
                                </div>
                                <select class="form-control" :required="true" id="pais" 
                                        title="pais" @click="cambiaPais" aria-describedby="addon-right addon-left">
                                    <option :selected="true" value="-1">Seleccione un pais</option>
                                    <option v-for="ele in countries" :value="ele[0]">{{ ele[1].name }}</option>
                                </select>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ni ni-zoom-split-in"></i>
                                    </span>
                                </div>
                                <input v-model="localidad" type="text" aria-describedby="addon-right addon-left"
                                    placeholder="Introduce el nombre de la localidad..." class="form-control">
                                <div class="input-group-append">
                                    <input type="submit" class="btn btn-danger" type="button" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Result -->
                    <div class="form-group ">
                        <div class="col-12" v-if="pronostico">
                            <!-- <div class="card bg-danger">
                                <div class="card-header bg-danger">
                                    <h2 class="">Latitud: {{ pronostico.coord.lat }} Longitud: {{
                                        pronostico.coord.lon }}</h2>
                                </div>
                                <div class="card-body">
                                    <h2 class="">Localidad: {{ pronostico.name }}</h2>
                                    <p class="result__bio">Pronóstico: {{ pronostico.weather[0].description }}
                                        <br>
                                        <a v-bind:href="" target="_blank" class="result__blog"></a>
                                    </p>
                                </div>
                            </div> -->
                            <div class="card-body py-5 bg-white">
                                <div class="icon icon-shape mb-4 icon-shape-primary rounded-circle">
                                    <i class="ni ni-check-bold"></i>
                                </div>
                                <h6 class="text-primary text-uppercase">{{ pronostico.name }}</h6>
                                <p class="description mt-3">Latitud: {{ pronostico.coord.lat }} Longitud: {{
                                    pronostico.coord.lon }}</p>
                                <div>
                                    <span class="badge badge-primary badge-pill">Pronóstico: {{
                                        pronostico.weather[0].description }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" v-else>
                            <div class="col-12">
                                <p class="text-neutral"></p>
                                
                                <div role="alert" class="alert alert-success alert-dismissible">
                                    <span class="alert-inner--icon">
                                        <i class="ni ni-like-2"></i>
                                    </span>
                                    <span class="alert-inner--text">
                                        <span>Espero tus ordenes</span>
                                    </span>
                                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                            </div>
                        </div>
                   
                        <!-- Error -->
                        <!-- <div class="result__error" v-if="error">{{ error }}</div> -->
                        <div class="input-group" v-if="error">
                            <div class="col-12">
                                <div role="alert" class="alert alert-danger alert-dismissible">
                                    <span class="alert-inner--icon">
                                        <i class="ni ni-support-16"></i>
                                    </span>
                                    <span class="alert-inner--text">
                                        <span>{{ error }}</span>
                                    </span>
                                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <script src="js/mainPronostico.js"></script>
    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>

</html>