<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app" class="jumbotron">
        <div class="row">
            <!-- Content -->
            <article class="content">
                <h1 class="content__title">La pagina del tiempo</h1>
                            <!-- Search -->
                <form class="search" v-on:submit.prevent="doSearch()">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="listaPaises">País:</label>
                                <select class="form-control" :required="true" id="pais" title="pais" @click="cambiaPais">
                                    <option :selected="true" value="-1">Seleccione un pais</option>
                                    <option v-for="ele in countries" :value="ele[0]">{{ ele[1].name }}</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="localidad">Localidad:</label>
                                <input v-model="localidad" type="text" class="form-control" required placeholder="Introduce el nombre de la localidad">
                            </div>
                        </div>
                        <input type="submit" class="search__submit btn btn-primary" value="Search">
                    </div>
                </form>
                <!-- Result -->
                <div class="result" v-if="pronostico">
                    <div class="card bg-info">
                        <div class="card-header">
                            <h2 class="result__name">Latitud: {{ pronostico.coord.lat }} Longitud: {{ pronostico.coord.lon }}</h2>
                        </div>
                        <div class="card-body">
                            <h2 class="result__name">Localidad: {{ pronostico.name }}</h2>
                            <p class="result__bio">Pronóstico: {{ pronostico.weather[0].description }}
                                <br>
                                <a v-bind:href="" target="_blank" class="result__blog"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <p v-else>Waiting for Search</p>
                <!-- Error -->
                <div class="result__error" v-if="error">{{ error }}</div>
            </article>
        </div>
    </div>
        <script src="js/mainPronostico.js"></script>
        <script>
            const mountedApp = app.mount("#app");
            </script>
</body>

</html>